{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="background-image"></div>
<div class="landing-text border border-4 p-4">
    <h1 class="h1 text-center">Tower Tools</h1>
    <p class="lead">Are you a tower captain, steeple-keeper or trainer?  Or perhaps in search of a suitable gift 
        for the campanologist in your social circle or family?  Here, you'll find merchandise, training tools and 
        equipment for the tower to help you progress to the next level (or repair another broken stay!).  If you 
        have any questions, please contact us using the form.</p>
</div>
{% endblock %}