{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <hr>
            <h2 class="logo-font title-size mb-4">My Profile</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <hr>
            <h2 class="title-size">Default Delivery Information</h2>
            <hr>
            <form action="{% url 'profile' %}" method="POST" class="mt-3" id="update-profile-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn border rounded-0 float-right">Update Information</button>
            </form>
        </div>
        <div class="col-12 col-lg-6">
            <hr>
            <h2 class="title-size">Order History</h2>
            <hr>
            {{ orders }}
        </div>
    </div>
</div>
{% endblock %}