html {
    height: 100%;
}

/* --------------- Navbar --------------- */
.logo-font {
    text-transform: uppercase;
    color: black;
    font-family: 'Stardos Stencil', cursive;
    
}

@media only screen and (max-width: 767px) {
    .logo-font {
      text-align: center;
    }
  }

.icons_float_left {
    float: left;
}

/* --------------- Hero image --------------- */
#background-image {
    background: url('../imgs/Alverstoke_banner.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 50vh;
}

#main-logo {
    background: url('../imgs/sally_wheel_no_bg.png') no-repeat;
    width: 50%;
    height: 100%;
}


/* --------------- Page Titles --------------- */
.title-size {
    text-align: center;
    font-size: x-large;
}

.button-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* --------------- allauth --------------- */

.content-centred {
    text-align: center;
}

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}

/* toasts */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.toast {
    width: auto;
    margin-top: 15px;
}


.landing-text {
    width: 50%;
    margin: 3rem auto 3rem auto;
}