html {
    height: 100%;
}

.logo-font {
    text-transform: uppercase;
    color: black;
    font-family: 'Stardos Stencil', cursive;
    
}

@media only screen and (max-width: 767px) {
    .logo-font {
      text-align: center;
    }
  }

.icons_float_left {
    left: auto;
}

#background-image {
    background: url('../imgs/Alverstoke_banner.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 50vh;
}