html {
    height: 100%;
}

/* --------------- Navbar --------------- */
.logo-font {
    text-transform: uppercase;
    color: black;
    font-family: 'Stardos Stencil', cursive;
    
}

@media only screen and (max-width: 767px) {
    .logo-font {
      text-align: center;
    }
  }

.icons_float_left {
    left: auto;
}

/* --------------- Hero image --------------- */
#background-image {
    background: url('../imgs/Alverstoke_banner.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 50vh;
}

#main-logo {
    background: url('../imgs/sally_wheel_no_bg.png') no-repeat;
    width: 50%;
    height: 100%;
}


/* --------------- Page Titles --------------- */
.title-size {
    text-align: center;
    font-size: x-large;
}

.button-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* --------------- allauth --------------- */

.content-centred {
    text-align: center;
}