<header class="container-fluid fixed-top">
    <nav class="navbar navbar-expand-sm">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav" aria-controls="mobile-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
    <div class="collapse" id="mobile-nav">
      <div class="bg-dark p-4">
        <h4 class="text-white">Collapsed content</h4>
        <span class="text-muted">Toggleable via the navbar brand.</span>
      </div>
    </div>
</header>




<!-- Navbar -->
<header class="container-fluid fixed-top">
    <div class="row">

      <!-- Site name/ logo in nav -->
      <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
        <a href="{% url 'home' %}" class="nav-link main-logo-link">
          <h2 class="logo-font text-black my-0">Tower</h2><br>
          <h2 class="logo-font text-black my-0">Tools</h2>
        </a>
      </div>

      <!-- Search bar in nav -->
      <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
        <form action="" method="GET">
          <div class="input-group w-100">
            <input type="text" class="form-control" name="q" placeholder="search">
            <div class="input-group-prepend">
              <button class="form-control btn border" type="submit">
                <span class="icon">
                  <i class="fas fa-search"></i>
                </span>
              </button>
            </div>
          </div>
        </form>
      </div>

      <!-- icons to right in nav -->
      <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
        <ul class="list-inline list-unstyled text-center text-lg-right my-0">

          <!-- profile icon in nav -->
          <li class="dropdown list-inline-item">
              <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user fa-lg"></i>
              </a>
              <div class="dropdown-menu border-0" aria-labelledby="user-options">
                  {% if request.user.is_authenticated %}
                      {% if request.user.is_superuser %}
                          <a href="" class="dropdown-item">Product Management</a>
                      {% endif %}
                      <a href="" class="dropdown-item">My Profile</a>
                      <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                  {% else %}
                      <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                      <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                  {% endif %}
              </div>
          </li>

          <!-- shopping basket icon in nav -->
          <li class="list-inline-item">
              <a class="{% if in_basket %}text-info font-weight-bold text-black{% else %}text-black{% endif %} nav-link" href="">
                  <div class="text-center">
                      <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                      <p class="my-0">
                          {% if in_basket %}
                              {{ in_basket }}
                          {% endif %}
                      </p>
                  </div>
              </a>
          </li>
      </ul>
      </div>
    </div>
  </header>