{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="background-image"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font title-size mb-4">Contact</h2>
            <hr>
            <form action="{% url 'contact' %}" method="POST" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-right">
                    <a href="{% url 'home' %}" class="btn rounded-0 border">Cancel</a>
                    <button id="submit-button" class="btn btn-black rounded-0">
                        <span class="font-weight-bold">Submit</span>
                        <span class="icon">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>



{% endblock %}

{% block postload_js %}
{{ block.super }}
{% endblock %}