{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <hr>
            <h2 class="logo-font title-size mb-4">Product Management</h2>
            <h4>Add a Product</h4>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <form action="{% url 'add_product' %}" method="POST" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-right">
                    <a href="{% url 'home' %}" class="btn rounded-0 border">Cancel</a>
                    <button class="btn rounded-0" type="submit">Add Product</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block postload_js %}
{{ block.super }}
{% endblock %}